deps/
local/
tts/
www/state_image/
www/github
www/*.js
www/guestwifi.png
custom_components/
.cloud/
.storage/tmp*
.storage/hassio
.storage/person
.storage/cloud
.storage/custom_updater.cards
auth*
core.*
onboarding
*.conf
*.db
*.db-shm
*.db-wal
*.log
*.sqlite
*.txt
*.xml
*.db-journal
*.json
*.txt
*.js
*.state
*.cards
.HA_VERSION
.uuid
entity_registry.yaml
known_devices.yaml
secrets.yaml
ip_bans.yaml