deps/
local/
tts/
node-red/
www/state_image/
www/github
www/*.js
www/guestwifi.png
www/community/
www/snapshot/*
custom_components/
.cloud/
.storage/tmp*
.storage/hassio
.storage/http
.storage/person
.storage/cloud
.storage/camera
.storage/custom_updater.cards
.storage/zha.storage
.storage/hacs
.storage/hacs.*
.storage/frontend.user_data_*
.storage/adbkey
.storage/adbkey.pub
.storage/unifi_data
.storage/netatmo_*
.storage/mobile_app
.storage/*.json
.storage/google_assistant
.storage/esphome.*
.storage/homekit*
.storage/tag
esphome/secrets.yaml
auth*
core.*
core
onboarding
.gmusic_authtoken
*.conf
*.db
*.db-shm
*.db-wal
*.log
*.sqlite
*.txt
*.xml
*.db-journal
*.json
*.txt
*.js
*.state
*.cards
*.crt
*.key
*.pem
.HA_VERSION
.uuid
entity_registry.yaml
known_devices.yaml
secrets.yaml
ip_bans.yaml
.ip_authenticated.yaml
